# Folders
REAL_BAXTER_ONE_SA_SUCCESS/
REAL_HIRO_ONE_SA_ERROR_CHARAC/
REAL_HIRO_ONE_SA_SUCCESS/
SIM_HIRO_ONE_SA_ERROR_CHARAC_LoopBack_x/
SIM_HIRO_ONE_SA_ERROR_CHARAC_LoopBack_y/
SIM_HIRO_ONE_SA_ERROR_CHARAC_Prob/
SIM_HIRO_ONE_SA_ERROR_CHARAC_SVM/
SIM_HIRO_ONE_SA_FAILURE/
SIM_HIRO_ONE_SA_SUCCESS/
SIM_HIRO_TWO_SA_FAILURE/
SIM_HIRO_TWO_SA_SUCCESS/
SIM_PA10_ONE_PA_SUCCESS/

.py~
.pyc