# Folders
*/my_training_data
*/my_training_data/REAL_BAXTER_ONE_SA_SUCCESS/
*/my_training_data/REAL_HIRO_ONE_SA_ERROR_CHARAC/
*/my_training_data/REAL_HIRO_ONE_SA_SUCCESS/
*/my_training_data/SIM_HIRO_ONE_SA_ERROR_CHARAC_LoopBack_x/
*/my_training_data/SIM_HIRO_ONE_SA_ERROR_CHARAC_LoopBack_y/
*/my_training_data/SIM_HIRO_ONE_SA_ERROR_CHARAC_Prob/
*/my_training_data/SIM_HIRO_ONE_SA_ERROR_CHARAC_SVM/
*/my_training_data/SIM_HIRO_ONE_SA_FAILURE/
*/my_training_data/SIM_HIRO_ONE_SA_SUCCESS/
*/my_training_data/SIM_HIRO_TWO_SA_FAILURE/
*/my_training_data/SIM_HIRO_TWO_SA_SUCCESS/
*/my_training_data/SIM_PA10_ONE_PA_SUCCESS/

.py~
.pyc